<% @title = "Download BPM" %>
<% @subtitle = "v#{BPM_VERSION}" %>
<p>
  BPM is a JavaScript package manager targeted for use in the browser. Download the latest version here:
</p>

<ol class="formats" id="formats">
  <li><%= link_to "pkg", 'http://installers.getbpm.org/bpm-latest.pkg' %></li>
  <li><%= link_to "exe", 'http://installers.getbpm.org/bpm-latest.exe' %></li>
</ol>

<p>
Or, to upgrade to the latest BPM via RubyGems:
</p>
<pre><code>$ gem install bpm</code></pre>
