development:
  host: localhost
  local_storage: true
  redirector: false
  delivery_method: :sendmail
  s3_bucket: development.s3.rubygems.org
  s3_domain: development.s3.rubygems.org
  cf_domain: development.cf.rubygems.org
  asset_cacher: false

test:
  host: www.example.com
  local_storage: true
  redirector: false
  delivery_method: :test
  s3_bucket: test.s3.rubygems.org
  s3_domain: test.s3.rubygems.org
  cf_domain: test.cf.rubygems.org
  asset_cacher: false

staging:
  host: staging.rubygems.org
  local_storage: false
  redirector: true
  delivery_method: :sendmail
  s3_bucket: staging.s3.rubygems.org
  s3_domain: staging.s3.rubygems.org
  cf_domain: staging.cf.rubygems.org
  asset_cacher: false

live: &LIVE
  host: sproutcutter.heroku.com
  local_storage: false
  redirector: false
  s3_bucket: codename-sproutcutter
  s3_domain: s3.amazonaws.com/codename-sproutcutter
  cf_domain: s3.amazonaws.com/codename-sproutcutter
  asset_cacher: true

production:
  delivery_method: :smtp
  <<: *LIVE

maintenance:
  delivery_method: :test
  <<: *LIVE
